* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
  }
  
  body {
    background: url(../background/wallpaper.jpg) no-repeat center center fixed;
    -moz-osx-font-smoothing: grayscale;  
    -webkit-font-smoothing: antialiased;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    font-family: "Roboto", sans-serif;
  }
  
  .webcam {
    /* -webkit-transform: scaleX(-1); */
    transform: scaleX(-1);
    /* width: ; */
    /* height: 480px; */
    text-align: center !important;
    display: block;
  }
  
  .canvas_photo {
    /* -webkit-transform: scaleX(-1); */
    /* transform: scaleX(-1); */
    /* width: ; */
    /* height: 480px; */
    text-align: center !important;
    display: block;
  }

  /* Style the header */
  /* .header {
    background-color: #f1f1f1;
    padding: 5px;
    width: 100%;
    text-align: center;
  }
  
  .header.font {
    float:left;
    font-size: 2vw;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  } */
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    /* height: 1000px; Should be removed. Only for demonstration */
  }
  
  /* right column only*/
  .column.side.c {
    width: 25%;
    height: 91%;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    overflow-y:scroll;
    overflow-x:hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; 
  }

  .column.side.c::-webkit-scrollbar {
    display: none;
  }

  /* end of right column */
  
  /* Middle column */
  .column.middle.c {
    width: 50%;
    height:91%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    overflow-y:scroll;
    overflow-x:hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; 
  } 
  
  .column.middle.c::-webkit-scrollbar {
    display: none;
  }

  .column.middle.block {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .column.middle.block.buttons {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center !important;
    height: 30px;
    padding: 10px;
    /* background-color: white; */
  }

  /* end of middle column */
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footer {
    /* background-color: #f1f1f1; */
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 100px) {
    .column.middle, .column.side {
      width: 100%;
    }
  }
  

.navbar {
  /* background-color: lightgrey; */
  overflow: hidden;
  /* height: 3.5vw; */
}

.navbar a{
  float: left;
  display: block;
  /* color: grey; */
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

.over_right {
  padding: 14px 8px !important;
  float: right !important;
  color: white !important;
}

.over_right_img {
  float: right !important;
  padding: 5px 0px !important;
}

.over_def {
  padding: 10px 8px !important;
  font-size: 22px !important;
  color: lightgrey !important;
  color: #000;
}

.over_image {
  /* float: right !important; */
  /* padding: 0px 0px !important; */
  height: 35px;
  width: 37px;
  border-radius: 50%;
  object-fit: contain;
}

.navbar ul{
  margin: 8px 0 0 0;
  list-style: none;
}

.navbar a:hover {
  /* background-color: lightgrey; */
  opacity: 0.5;
  color: #000;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x:hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: white;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 200px;
}


.btn {
  position: relative;
  display: hidden;
  /* margin-left: 25%; */
  /* margin-right: 20%; */
  /* border-radius: 5%; */
  /* width: 10% !important; */
  padding: 6px;
  /* background-color: white; */
  text-align: center;
}

.stickers {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: block;
  position: relative;
  width: 50%;
  margin:auto;
  padding: 10px;
}

p {
  color:white;
  padding: 10px;
}

.prev_image {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: block;
  position: relative;
  width: 50%;
  margin:auto;
  padding: 10px;
 }
 
 .prev_date {
  display: block;
  position: relative;
  width: 50%;
  margin:auto;
 }
 
 .del_btn {
   text-align: center;
   margin: auto;
   display: block;
   /* padding-bottom: px; */
 }