* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333030;
  }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 5px;
    width: 100%;
    text-align: center;
  }
  
  .header.font {
    float:left;
    font-size: 2vw;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    /* height: 1000px; Should be removed. Only for demonstration */
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
    /* height: 100%; */
  }
  
  /* left column */
  
  .column.side.problock {
    height: 25%;
    width: 50%;
    border-radius: 100%;
    background-color: black;
    margin-left: 25%;
    margin-top: 10%;
    margin-right: 25%;
    object-fit: cover;
  }
  
  .column.side.user {
    padding: 0.4vw;
    margin: 0 auto;
    width: 80%;
    overflow-wrap: break-word;
    font-size: 1.5vw;
    display: block;
    text-align: center !important;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: 0.1vw solid #ebda96;
    background-color: #ffeda3;
  }
  
  
  
  /* right column */
  .column.side.block {
    height: 19vw;
    width: 80%;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    /* margin-bottom: 2.5%; */
  }
  
  .column.side.title {
    padding: 0.4vw;
    margin: 0 auto;
    width: 100%;
    overflow-wrap: break-word;
    font-size: 1.5vw;
    display: block;
    text-align: center !important;
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    border: 0.1vw solid #ebda96;
    background-color: #ffeda3;
  }
  
  .column.side.block.img {
    position: relative;
    height: 42%;
    width: 49%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    object-fit: cover;
    background-color: black;
  }
  /* end of right column */
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Middle column title */
  .column.middle.title {
    padding: 10px;
    margin: 0 auto;
    width: 70%;
    overflow-wrap: break-word;
    font-size: 1.5vw;
    display: block;
    text-align: center !important;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  /* Middle column sub title */
  .column.middle.subtitle {
    /* padding: 10px; */
    margin: 0 auto;
    width: 70%;
    overflow-wrap: break-word;
    font-size: 0.6vw;
    display: block;
    text-align: center !important;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  /* Middle column image */
  .column.middle.image {
    padding: 10px;
    position: relative;
    display: block;
    margin-left: 15%;
    width: 70%;
  }
  
  /* Middle column text */
  .column.middle.text {
    padding: 10px;
    margin: 0 auto;
    width: 70%;
    overflow-wrap: break-word;
    font-size: 0.8vw;
    display: block;
    text-align: center !important;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  /* Middle column bar */
  .column.middle.bar {
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  

.navbar {
  background-color: skyblue;
  overflow: hidden;
  /* height: 3.5vw; */
}

.navbar a{
  float: left;
  display: block;
  /* color: grey; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar ul{
  margin: 8px 0 0 0;
  list-style: none;
}

.navbar a:hover {
  background-color: lightgrey;
  color: #000;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x:hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: white;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 200px;
}