* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0%;
}

body {
  background: url(../background/wallpaper.jpg) no-repeat center center fixed;
  -moz-osx-font-smoothing: grayscale;  
  -webkit-font-smoothing: antialiased;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;    
  font-family: "Roboto", sans-serif;
}

/* Style the header */
/* .header {
  background-color: #f1f1f1;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.header.font {
  float:left;
  font-size: 2vw;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
} */

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  /* height: 1000px; Should be removed. Only for demonstration */
}


/* Left and right column */
.column.side {
  width: 25%;
  /* height: 100%; */
}

/* left column */

.column.side.problock {
  height: 25%;
  width: 50%;
  border-radius: 100%;
  background-color: black;
  margin-left: 25%;
  margin-top: 10%;
  margin-right: 25%;
  object-fit: cover;
}

.column.side.user {
  padding: 0.4vw;
  margin: 0 auto;
  width: 80%;
  overflow-wrap: break-word;
  font-size: 1.5vw;
  display: block;
  text-align: center !important;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  border: 0.1vw solid #ebda96;
  background-color: #ffeda3;
}  

/* right column */
.column.side.block {
  height: 800px;
  width: 100%;
  /* background-color: white; */
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  /* margin-bottom: 100px; */
  /* margin-bottom: 2.5%; */
}

.column.side.block.title {
  margin-left: 10%;
  position: relative;
  width: 80%;
  height: 50px;
  padding: 10px;
  font-size: 25px;
  display: block;
  text-align: center;
  margin-top: 50px;
  background: white;
}

.column.side.block.img {
  position: relative;
  width: 80%;
  height: 250px;
  margin-left: 10%;
  object-fit: cover;
  background-color: black;
}
/* end of right column */

/* Middle column */
.column.middle.c {
  width: 50%;
  height: 91%;
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow-y:scroll;
  overflow-x:hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; 
  /* visibility: hidden; */
}

.column.middle.c::-webkit-scrollbar {
  display: none;
}

/* Middle column title */
.column.middle.title {
  padding: 10px;
  margin: 0 auto;
  width: 70%;
  overflow-wrap: break-word;
  font-size: 1.5vw;
  display: block;
  text-align: center !important;
  margin-left: 15%;
  margin-right: 15%;
  color: white;
  overflow: unset !important;
}

/* Middle column sub title */
.column.middle.subtitle {
  color: white;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 70%;
  overflow-wrap: break-word;
  font-size: 0.6vw;
  display: block;
  text-align: center !important;
  margin-left: 15%;
  margin-right: 15%;
  overflow: unset !important;
}

/* Middle column image */
.column.middle.image {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  overflow: unset !important;
}

/* Middle column text */
/* .column.middle.comment {
  padding: 10px;
  margin: 0 auto;
  width: 70%;
  overflow-wrap: break-word;
  font-size: 0.8vw;
  display: block;
  text-align: center !important;
  margin-left: 15%;
  margin-right: 15%;
} */


.column.middle.icons {
  /* background-color: #f1f1f1; */
  padding: 10px;
  text-align: center;
  width: 10%;
  margin-left: 77%;
  margin-right: 10%;
  display: block;
  overflow: unset !important;
  color: white;
}

.icons {
  text-decoration: none;
  /* color: black; */
}

.column.middle.comment_container {
  visibility: hidden;
  width: 70%;
  height: 0;
  display: block;
  overflow-wrap: break-word;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  color: white;
  overflow: unset !important;
}

.column.middle.pager {
  padding: 10px;
  margin: 0 auto;
  width: 70%;
  overflow-wrap: break-word;
  font-size: 1.5vw;
  display: block;
  text-align: center !important;
  margin-left: 15%;
  margin-right: 15%;
  overflow: unset !important;
}

.btn {
  position: relative;
  display: hidden;
  /* margin-left: 25%; */
  /* margin-right: 20%; */
  /* width: 10% !important; */
  padding: 6px;
  background-color: white;
  text-align: center;
}

.display {
  position: relative;
  display: hidden;
  /* margin-left: 25%; */
  /* margin-right: 20%; */
  border-radius: 5%;
  padding: 5px;
  font-size: 16px;
  width: 2% !important;
  height: 1% !important;
  background-color: white;
  text-align: center;
}

/* Middle column bar */
.column.middle.bar {
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  /* background-color: #f1f1f1; */
  /* opacity: 0.6; */
  /* position: fixed; */
  color: white;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 100px) {
    .column.side, .column.middle {
    width: 100%;
  }
}


.navbar {
/* background-color: lightgrey; */
/* opacity: ; */
overflow: hidden;
/* height: 3.5vw; */
}

.navbar a{
float: left;
display: block;
/* color: grey; */
text-align: center;
padding: 14px 10px;
text-decoration: none;
font-size: 17px;
}

.over_right {
padding: 14px 8px !important;
float: right !important;
color: white !important;
}

.over_right_img {
float: right !important;
padding: 5px 0px !important;
}

.over_def {
text-align: center;
padding: 10px 8px !important;
font-size: 22px !important;
color: lightgrey !important;
color: #000;
}

.over_image {
/* float: right !important; */
/* padding: 0px 0px !important; */
height: 35px;
width: 37px;
border-radius: 50%;
object-fit: contain;
}

.navbar ul{
margin: 8px 0 0 0;
list-style: none;
}

.navbar a:hover {
/* background-color: lightgrey; */
opacity: 0.5;
color: #000;
}

.side-nav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top:0;
left: 0;
background-color: #111;
opacity: 0.9;
overflow-x:hidden;
padding-top: 60px;
transition: 0.5s;
}

.side-nav a{
padding: 10px 10px 10px 30px;
text-decoration: none;
font-size: 22px;
color: #ccc;
display: block;
transition: 0.3s;
}

.side-nav a:hover {
color: white;
}

.side-nav .btn-close {
position: absolute;
top: 0;
right: 22px;
font-size: 36px;
margin-left: 200px;
}

.c-btn-close {
/* position: absolute; */
font-size: 27px;
float: right;
}

.comment-box {
  width:100%;
  height: 100%;
  /* transition: 1.3s; */
}

.text-box {
width: 50% !important;
height: 50px !important;
overflow: auto !important;
/* transition: 0.6s; */
}

.comment-box.messages {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100px;
  /* background: rgba(54, 54, 54, 0.63) !important; */
  /* transition: 0.6s; */
}

.comment-box.left {
  overflow: auto;
  /* float: left; */
  width: 100% !important;
  background: rgba(54, 54, 54, 0.4) !important;
  /* background: red !important; */
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center !important;
  /* margin-left: 20%; */
  height: 40px !important;
  /* background-color: white; */
  /* margin-right: 5%; */
}

.comment-box.right {
  width: 100% !important;
  /* float: left; */
  overflow: auto;
  background: rgba(54, 54, 54, 0.2) !important;
  height: 60px;
  /* background: blue !important; */
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.comment-image {
  /* float: right !important; */
  /* padding: 0px 0px !important; */
  margin-left: 5%;
  height: 35px !important;
  width: 37px !important;
  border-radius: 50% !important;
  object-fit: contain !important;
  text-align: center !important;
  float: left;
  }

  .comment-title {
    margin-top: 10px;
    float: left !important;
  }

  .comment-def {
    float:none !important;
  }