* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
  }

  /* input {
    margin-left: 10px;
  } */

  body {
    background: url(../background/wallpaper.jpg) no-repeat center center fixed;
    -moz-osx-font-smoothing: grayscale;  
    -webkit-font-smoothing: antialiased;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    font-family: "Roboto", sans-serif;
  }
  
  /* Style the header */
  /* .header {
    background-color: #f1f1f1;
    padding: 5px;
    width: 100%;
    text-align: center;
  }
  
  .header.font {
    float:left;
    font-size: 2vw;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  } */
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    /* height: 1000px; Should be removed. Only for demonstration */
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
    /* height: 100%; */
  }

  /* right column */
  .column.side.block {
    height: 800px;
    width: 100%;
    /* background-color: white; */
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    /* margin-bottom: 100px; */
    /* margin-bottom: 2.5%; */
  }
  
  .column.side.block.title {
    margin-left: 10%;
    position: relative;
    width: 80%;
    height: 50px;
    padding: 10px;
    font-size: 25px;
    display: block;
    text-align: center;
    margin-top: 50px;
    background: white;
  }
  
  .column.side.block.img {
    position: relative;
    width: 80%;
    height: 250px;
    margin-left: 10%;
    object-fit: cover;
    background-color: black;
  }
  /* end of right column */
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Middle column title */
  .column.middle.title {
    padding:  0px 0px 10px 0px;
    margin: 0 auto;
    width: 70%;
    overflow-wrap: break-word;
    font-size: 1.5vw;
    display: block;
    text-align: center !important;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .column.middle.previous_works {
    padding: 10px;
    margin: 0 auto;
    width: 70%;
    overflow-wrap: break-word;
    font-size: 22px;
    display: block;
    text-align: center !important;
    margin-left: 15%;
    margin-right: 15%;
    color:white;
  }
  
  /* Middle column sub title */
  .column.middle.subtitle {
    padding-bottom: 10px;
    margin: 0 auto;
    width: 70%;
    overflow-wrap: break-word;
    font-size: 0.6vw;
    display: block;
    text-align: center !important;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  /* Middle column image */
  .column.middle.image {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }
  
  .column.middle.icons {
    /* background-color: #f1f1f1; */
    padding: 10px;
    text-align: center;
    width: 10%;
    margin-left: 77%;
    margin-right: 10%;
    display: block;
  }

  .icons {
    text-decoration: none;
    color: black;
  }

  .column.middle.comment_container {
    visibility: hidden;
    width: 70%;
    height: 0;
    display: block;
    overflow-wrap: break-word;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    /* background-color: white; */
  }

  /* Middle column bar */
  .column.middle.bar {
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
  }

  /* profile block */

  .column.middle.problock {
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
  }

  .grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1px;
	/* background-color: #2196F3; */
  padding: 1px;
  }
  
  .grid-container > div {
	background-color: rgba(75, 75, 75, 0.8);
	text-align: center;
	padding: 10px 0;
  font-size: 30px;
  color: white;
  }
  
  .profile_title {
    grid-column: 1 / 3;
    font-size: 25px !important;
  }

  .profile_image {
	  grid-area: 2 / 1 / 2 / 3;
  }

  .image_s {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .l_context {
    font-size: 13px !important;
    padding: 3px !important;
    /* text-align: left !important; */
  }

  .context {
    font-size: 13px !important;
  	padding: 3px !important;
  }

  /* .item8 {
	grid-area: 2 / 2 / 5 / 6;
  } */

  /* end of profile block */
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footer {
    /* background-color: #f1f1f1; */
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  
 
  .navbar {
  /* background-color: lightgrey; */
  /* opacity: ; */
  overflow: hidden;
  /* height: 3.5vw; */
  }
  
  .navbar a{
  float: left;
  display: block;
  /* color: grey; */
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
  }
  
  .over_right {
  padding: 14px 8px !important;
  float: right !important;
  color: white !important;
  }
  
  .over_right_img {
  float: right !important;
  padding: 5px 0px !important;
  }
  
  .over_def {
  padding: 10px 8px !important;
  font-size: 22px !important;
  color: lightgrey !important;
  color: #000;
  }
  
  .over_image {
  /* float: right !important; */
  /* padding: 0px 0px !important; */
  height: 35px;
  width: 37px;
  border-radius: 50%;
  object-fit: contain;
  }
  
  .navbar ul{
  margin: 8px 0 0 0;
  list-style: none;
  }
  
  .navbar a:hover {
  /* background-color: lightgrey; */
  opacity: 0.5;
  color: #000;
  }
  
  .side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x:hidden;
  padding-top: 60px;
  transition: 0.5s;
  }
  
  .side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
  }
  
  .side-nav a:hover {
  color: white;
  }
  
  .side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 200px;
  }

.c-btn-close {
  /* position: absolute; */
  top: 0;
  right: 22px;
  font-size: 36px;
  float: right;
  /* margin-left: 660px; */
}

.comment-box {
  width: 300px;
  max-width: 600px;
  height: 50px ;
  max-height: 100px;
}